doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/resources/v1/css/bootstrap.css')
		link(rel='stylesheet', href='/resources/v1/font-awesome/css/font-awesome.css')
		link(rel='stylesheet', href='/resources/v1/css/gary.css')
		script(type="text/javascript", src="https://use.typekit.net/fai0bkp.js")
		script(type="text/javascript")
			| try{Typekit.load();}catch(e){}
		script(src='/resources/v1/scripts/jquery-1.11.1.min.js')
		script(src='/resources/v1/scripts/bootstrap.js')
		
		
		
	body
	block content
		div(id="top", class="header")
			div(class="vert-text")
				div(class="wrapper")
					p  does.xyz<br /> by iter
							span(class="slashes") //
							| rogative 2014
					p
						span(class="pagetitles")
							a(href="/gary/") doesgarysinise
						hr(class="indexbreaks")
						span(class="pagetitles")
							a(href="/nick/") doesnickcage
						hr(class="indexbreaks")
						span(class="pagetitles")
							a(href="/bornt/") bornt
		footer
			div(class="container")
				div(class="row")
					div(class="col-xs-10 col-xs-offset-1 text-center")
						
						p This website was inspired by one of the fundamental questions about any work that features Gary Sinise.  In that particular work...does Gary Sinise have legs?
						hr
						p Copyright &copy; iter
							span(class="slashes") //
							| rogative 
						
