doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/resources/v1/css/bootstrap.css')
		link(rel='stylesheet', href='/resources/v1/font-awesome/css/font-awesome.css')
		link(rel='stylesheet', href='/resources/v1/css/gary.css')
		script(type="text/javascript", src="https://use.typekit.net/fai0bkp.js")
		script(type="text/javascript")
			| try{Typekit.load();}catch(e){}
		script(src='/resources/v1/scripts/jquery-1.11.1.min.js')
		script(src='/resources/v1/scripts/bootstrap.js')
		script(src='/resources/v1/scripts/functions4.js')
		
		
	body
	block content
